* {
    font-family: "Heebo", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #edf2fc;
    --secondary-color: #0e0d0d;
}

.App{
    background-color: var(--primary-color);
}
.bi {
    text-decoration: none;
    font-size: 2em;
    padding: 20px;
    color: black;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

.container {
    margin-top: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: bold;
}

nav {
    width: 84%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px 30px 20px;
}

nav ul {
    flex: 1;
    text-align: right;
}

nav li {
    display: inline-block;
    margin-right: 3em;
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
}

.download-cv {
    margin: 20px 0px 20px 20px;
    justify-content: center;
    align-items: center;
    width: 130px;
    border-radius: 5px;
}

.about-row {
    text-align: center;
    margin-top: 250px;
}

.imgs {
    position: absolute;
    width: 200px;
    height: 100px;
    right: 0;
    top: 50px;
}

.logo {
    margin-top: 0;
    font-weight: bold;
}

.about-section {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.about h3{
    font-weight: bold;

}
.project-section {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.contact-section {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.tech-section {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.content {
    position: relative;
    padding-left: 20px;
}
.home{
    position: relative;
}

#icon {

}
.about-top {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pic-about {
    width: 300px;
    height: 500px;

}
.about .about-top .about-topright-text {
    width: 40%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: left;
    font-size: 20px;
}
.about .about-top .about-pic {
    width: 60%;


}