* {
    font-family: "Heebo", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.bi {
    text-decoration: none;
    font-size: 2em;
    padding: 20px;
    color: black;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

.container {
    margin-top: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    width: 84%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px 30px 20px;
}

nav li {
    display: inline-block;
    margin-right: 3em;
    text-decoration: none;
}